 <div class="modal fade" id="myImgModal" role="dialog">
    <div class="modal-dialog">
    
      <div class="modal-content">
        <div class="modal-header success">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Image : ##img##</h4>
        </div>
        
        <div class="clearfix modal-body text-center" style="padding:40px 50px;">
      		<img class="col-md-12" src="../img/avatars/##img##" alt="super image" />  
        </div>
        
        
        
      
      </div>
      
    </div>
  </div>