<tr>
	<td class='col-md-1 usrthumb'>
		<img src="##photo##" alt="avatar de ##login##"/>
	</td>
	<td class='col-md-2 text-center'><h5>##login##</h5></td>
	<td class='col-md-3 text-center'><h5>##nom##</h5></td>
	<td class='col-md-3 text-center'><h5>##email##</h5></td>
	<td class='col-md-3 text-center'>
  <div class="input-group">
			<select class="form-control input-sm" id="sel_##idUsr##"></select>
			<span class="input-group-btn">
				<button type="button" id ="add_##idUsr##" onclick="addUsr('##idUsr##')" class="btn btn-default btn-sm">Ajouter <span class="glyphicon glyphicon glyphicon glyphicon-plus"></span></button>
			</span>
		</div>	
	</td>
</tr>

