<div id="##idDisc##" class="discussion">
	<div class="col-md-12 entete">##titre##</div>
	<table class="table corps">
			<tr><td class="col-md-2 participants">toto</td><td class="col-md-10 dialog"><div id="dialog_##idDisc##"></div></td></tr>
	</table>
	<div class="col-md-12 input-group pied">
		<input type="text" class="form-control" id="nomRecherche" placeholder="Votre message ici . . .">
		<span class="input-group-btn"><button id="envoyerMsg_##idDisc##" class="btn btn-default" type="button"> Envoyer </button></span>
	</div>
</div>