<div class='col-xs-12 col-md-6 usrthumb' id='##idUsr##'>
	<div class='col-xs-4 col-md-3'><img src='##img##' /></div>
	<div class='col-xs-8 col-md-9'>
		<h4>##nom##</h4>
		<p><em>##description##</em></p>
	<div class="btn-group btn-group-xs " role="group" aria-label="...">
  		<button type="button" id ="msg_##idUsr##"  onclick="msgUsr('##idUsr##')" class="btn btn-default">Message <span class="glyphicon glyphicon glyphicon-pencil"></span></button>
  		<button type="button" id ="prof_##idUsr##" onclick="viewUsr('##idUsr##')" class="btn btn-default">Profil <span class="glyphicon glyphicon glyphicon-user"></span></button>
  		<button type="button" id ="supp_##idUsr##" onclick="delUsr('##idUsr##')" class="btn btn-danger">Supprimer <span class="glyphicon glyphicon glyphicon-remove"></span></button>
	</div>
	</div>
</div>