<h4>Détail profil de ##usrNom##</h4>
<hr/>
	<div class="col-md-4 text-center form-group">
		<br/>
		<img id="usrAvatar" class="img-thumbnail" src='../img/avatars/##usrPhoto##' alt="Avatar de ##login##" />
	
	</div>
	<div class="col-md-8 form-group">
	<div><label>Login : </label><input type="text" class="form-control" value='##usrLogin##' readonly="readonly"/></div>
	<div><label>Nom : </label><input type="text" class="form-control" value='##usrNom##' readonly="readonly"/></div>
	<div><label>Email : </label><input type="text" class="form-control" value='##usrNom##' readonly="readonly"/></div>
	<div><label>Description : </label><input type="text" class="form-control" value='##usrDescription##' readonly="readonly"/></div>
	
	</div>

